<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="scenarioReporter">
    <properties>
        <property name="pattern">%d{HH:mm:ss.SSS} [%highlight{%5p}] [%t] %c{1}(%M) | %m%n</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>